<div>
	<h3>Nyheter</h3>
	<input type="search" class="search-query" placeholder="Search" ng-model="searchText" />
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>Overskrift</th>
				<th>Dato</th>
				<th>beskrivelse</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tr ng-repeat="nyhet in nyheter | filter:{registered:false} | filter:searchText">
			<td>
				{{nyhet.overskrift}}
			</td>
			<td>
				{{nyhet.dato}}
			</td>
			<td>
				{{nyhet.HTML}}
			</td>
			<td>
				<button class="btn btn-primary btn-xs" ng-click="registerCourse(nyhet)">Edit</button>
			</td>
		</tr>

	</table>
</div>