<div class="container">

  <div class="row">
    <div class="col-md-8">
      <nyheter nyheter="nyheter"></nyheter>


    </div>
    <div class="col-md-4">
      <schedule nyheter="nyheter"></schedule>
      <fulgte-aboneringer></fulgte-aboneringer>

    </div>
  </div>

</div>