<div class="well sidebar-nav">
	<h4>Fremtidige eventer</h4>
	<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=gullhaugveienhf%40gmail.com&amp;color=%23B1440E&amp;src=no.norwegian%23holiday%40group.v.calendar.google.com&amp;color=%23875509&amp;src=e_2_no%23weeknum%40group.v.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FOslo" style=" border-width:0 " width="300" height="300" frameborder="0" scrolling="no"></iframe>
</div>