<div class="well sidebar-nav">
  <h4>Varslingslister ({{subscriptions.length}} som du abonerer på)</h4>
  <div class="row" ng-repeat="varslingsliste in subscriptions">
    <div class="col-md-6">{{varslingsliste.name}}</div>
    <div class="col-md-6">
      <div class="instructor-follow-button">
        <button ng-click="unFollowInstructor(instructor)" class="btn btn-info btn-xs">Unfollow</button>
      </div>
    </div>
  </div>
</div>