<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Nyheter</a></li>
        <li><a href="#styret">Styret</a></li>
        <li><a href="#vedekter">Vedtekter</a></li>
		<li><a href="#parkering">Parkering</a></li>
		<li><a href="#informasjon">Nyttig informasjon</a></li>
      </ul>
      <nav-bar-login></nav-bar-login>
	  <user-profile-information></user-profile-information>

    </div><!--/.navbar-collapse -->
  </div>
</div>