<div>
	<h3>Nyheter ({{news.length}})</h3>
	<input type="search" class="search-query" placeholder="Search" ng-model="searchText" />
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>Created</th>
				<th>Author</th>
				<th>Headline</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tr ng-repeat="nyhet in news | filter:searchText">
			<td>
				{{nyhet._created_on}}
			</td>
			<td>
				{{nyhet.author}}
			</td>
			<td>
				<ANY ng-bind-html="nyhet.safeHtml"</ANY>
				
			</td>
			<td>
				<button class="btn btn-primary btn-xs" ng-click="registerCourse(nyhet)">Edit</button>
			</td>
		</tr>

	</table>
</div>